USE [ING]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 16/7/2026 22:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id_Event] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [int] NOT NULL,
	[Modulo] [varchar](100) NOT NULL,
	[Criticidad] [int] NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id_Event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DV]    Script Date: 16/7/2026 22:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV](
	[NombreTabla] [nvarchar](128) NOT NULL,
	[DVH] [nvarchar](128) NOT NULL,
	[DVV] [nvarchar](128) NOT NULL,
	[FechaCalculo] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DV] PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 16/7/2026 22:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[ID_Familia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Familia]    Script Date: 16/7/2026 22:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Familia](
	[ID_FamiliaPadre] [int] NOT NULL,
	[ID_FamiliaHija] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FamiliaPadre] ASC,
	[ID_FamiliaHija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Perfil]    Script Date: 16/7/2026 22:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Perfil](
	[ID_Perfil] [int] NOT NULL,
	[ID_Familia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Perfil] ASC,
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 16/7/2026 22:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[ID_Perfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil_Permiso]    Script Date: 16/7/2026 22:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil_Permiso](
	[ID_Perfil] [int] NOT NULL,
	[ID_Permiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Perfil] ASC,
	[ID_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 16/7/2026 22:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[ID_Permiso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso_Boton]    Script Date: 16/7/2026 22:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_Boton](
	[ID_PermisoBoton] [int] IDENTITY(1,1) NOT NULL,
	[NombreFormulario] [nvarchar](120) NOT NULL,
	[NombreControl] [nvarchar](120) NOT NULL,
	[NombrePatente] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Permiso_Boton] PRIMARY KEY CLUSTERED 
(
	[ID_PermisoBoton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso_Familia]    Script Date: 16/7/2026 22:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_Familia](
	[ID_Permiso] [int] NOT NULL,
	[ID_Familia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Permiso] ASC,
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 16/7/2026 22:08:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[DNI] [int] NOT NULL,
	[NombreDeUsuario] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Contraseña] [varchar](255) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[Estado] [bit] NOT NULL,
	[ID_Perfil] [int] NOT NULL,
	[Idioma] [varchar](50) NOT NULL,
	[DV] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DV] ([NombreTabla], [DVH], [DVV], [FechaCalculo]) VALUES (N'__BD__', N'37DAE5', N'37DAE5', CAST(N'2026-07-16T21:05:57.1877185' AS DateTime2))
INSERT [dbo].[DV] ([NombreTabla], [DVH], [DVV], [FechaCalculo]) VALUES (N'Bitacora', N'356A85', N'356A85', CAST(N'2026-07-16T21:05:57.1867169' AS DateTime2))
INSERT [dbo].[DV] ([NombreTabla], [DVH], [DVV], [FechaCalculo]) VALUES (N'Familia', N'12A2', N'12A2', CAST(N'2026-07-16T21:05:57.1867169' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Familia] ON 

INSERT [dbo].[Familia] ([ID_Familia], [Nombre]) VALUES (1, N'Gestion Usuarios Botones')
INSERT [dbo].[Familia] ([ID_Familia], [Nombre]) VALUES (2, N'Usuario Basico')
INSERT [dbo].[Familia] ([ID_Familia], [Nombre]) VALUES (4, N'AdminBase')
SET IDENTITY_INSERT [dbo].[Familia] OFF
GO
INSERT [dbo].[Familia_Familia] ([ID_FamiliaPadre], [ID_FamiliaHija]) VALUES (4, 2)
GO
INSERT [dbo].[Familia_Perfil] ([ID_Perfil], [ID_Familia]) VALUES (1, 1)
INSERT [dbo].[Familia_Perfil] ([ID_Perfil], [ID_Familia]) VALUES (1, 4)
INSERT [dbo].[Familia_Perfil] ([ID_Perfil], [ID_Familia]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([ID_Perfil], [Nombre]) VALUES (1, N'Admin')
INSERT [dbo].[Perfil] ([ID_Perfil], [Nombre]) VALUES (2, N'Usuario')
INSERT [dbo].[Perfil] ([ID_Perfil], [Nombre]) VALUES (3, N'Medico')
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
INSERT [dbo].[Perfil_Permiso] ([ID_Perfil], [ID_Permiso]) VALUES (1, 26)
INSERT [dbo].[Perfil_Permiso] ([ID_Perfil], [ID_Permiso]) VALUES (1, 27)
INSERT [dbo].[Perfil_Permiso] ([ID_Perfil], [ID_Permiso]) VALUES (1, 28)
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([ID_Permiso], [Nombre]) VALUES (20, N'Ver Usuarios')
INSERT [dbo].[Permiso] ([ID_Permiso], [Nombre]) VALUES (21, N'Ver Gestion Perfiles')
INSERT [dbo].[Permiso] ([ID_Permiso], [Nombre]) VALUES (22, N'Crear Usuario')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso_Boton] ON 

INSERT [dbo].[Permiso_Boton] ([ID_PermisoBoton], [NombreFormulario], [NombreControl], [NombrePatente]) VALUES (1, N'MenuPrincipal', N'btnUsuarios', N'Ver Usuarios')
INSERT [dbo].[Permiso_Boton] ([ID_PermisoBoton], [NombreFormulario], [NombreControl], [NombrePatente]) VALUES (2, N'MenuPrincipal', N'btnGestionarPerfiles', N'Ver Gestion Perfiles')
INSERT [dbo].[Permiso_Boton] ([ID_PermisoBoton], [NombreFormulario], [NombreControl], [NombrePatente]) VALUES (3, N'GestionUsuario', N'btnCrear', N'Crear Usuario')
SET IDENTITY_INSERT [dbo].[Permiso_Boton] OFF
GO
INSERT [dbo].[Permiso_Familia] ([ID_Permiso], [ID_Familia]) VALUES (20, 4)
INSERT [dbo].[Permiso_Familia] ([ID_Permiso], [ID_Familia]) VALUES (21, 4)
INSERT [dbo].[Permiso_Familia] ([ID_Permiso], [ID_Familia]) VALUES (22, 1)
GO
INSERT [dbo].[Usuarios] ([DNI], [NombreDeUsuario], [Nombre], [Apellido], [Contraseña], [Bloqueado], [Estado], [ID_Perfil], [Idioma], [DV]) VALUES (11111111, N'admin', N'Gabriel', N'Avalos', N'$2a$11$/NoIVLCLY7koIkrMQ3vdN.mxlWJgnIrulpHVeAG01sYj8pzej3T1W', 0, 1, 1, N'Español', N'208A')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Formulario_Control]    Script Date: 16/7/2026 22:08:01 ******/
ALTER TABLE [dbo].[Permiso_Boton] ADD  CONSTRAINT [UQ_Formulario_Control] UNIQUE NONCLUSTERED 
(
	[NombreFormulario] ASC,
	[NombreControl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DV] ADD  CONSTRAINT [DF_DV_FechaCalculo]  DEFAULT (sysdatetime()) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuarios] FOREIGN KEY([Dni])
REFERENCES [dbo].[Usuarios] ([DNI])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuarios]
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_Perfil]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_Perfil]  WITH CHECK ADD FOREIGN KEY([ID_Perfil])
REFERENCES [dbo].[Perfil] ([ID_Perfil])
GO
ALTER TABLE [dbo].[Perfil_Permiso]  WITH CHECK ADD FOREIGN KEY([ID_Perfil])
REFERENCES [dbo].[Perfil] ([ID_Perfil])
GO
ALTER TABLE [dbo].[Perfil_Permiso]  WITH CHECK ADD FOREIGN KEY([ID_Permiso])
REFERENCES [dbo].[Permiso] ([ID_Permiso])
GO
ALTER TABLE [dbo].[Permiso_Familia]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Permiso_Familia]  WITH CHECK ADD FOREIGN KEY([ID_Permiso])
REFERENCES [dbo].[Permiso] ([ID_Permiso])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfil] FOREIGN KEY([ID_Perfil])
REFERENCES [dbo].[Perfil] ([ID_Perfil])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfil]
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD  CONSTRAINT [CHK_NoAutoFamilia] CHECK  (([ID_FamiliaPadre]<>[ID_FamiliaHija]))
GO
ALTER TABLE [dbo].[Familia_Familia] CHECK CONSTRAINT [CHK_NoAutoFamilia]
GO
